.asset-container {
  position: absolute;
  margin: 50px;
}

table, th, td {
    border: 1px solid lightgray;
    border-collapse: collapse;
  }

  th:hover {
    cursor: pointer;
  }

  th, td {
    padding: 8px;
  }

  .credit-asset {
    background-color : white;
    color: black;
  }

  .equity-asset {
    background-color: #00bfff;
    color: white;
  }

  .macro-asset {
    background-color: #32cd32;
    color: white;
  }

  .price-container {
    padding : 3px;
    border-radius: 6px;
    width: 20px;
  }

  .pos-price {
    background-color: blue;
    color: white;
  }

  .neg-price {
    background-color: red;
    color: white;
  }